@model Entities.Page


@{
    string content, dataModified;

    var page = Model;
    content = page.Content;
    dataModified = page.DataModified.ToString();

}

<div>@Westwind.AspNetCore.Markdown.Markdown.ParseHtmlString(content)</div>
<div class="text-right text-black-50 small">Last modified @dataModified</div>