@page "{id:int?}"
@model MyPages.Pages.Page.CreateModel
@{
    ViewData["Title"] = "Create page/folder";
}
@if (Model.CurrentPage == null)
{
    <h1>Unauthorized entry</h1>
    <hr />
}
else
{
    <h1>Create page/folder</h1>
    <hr />

    <div class="row">
        <div class="col-lg-10">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="PageModel.Name" class="control-label"></label>
                    <input asp-for="PageModel.Name" class="form-control" />
                    <span asp-validation-for="PageModel.Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PageModel.Content" class="control-label"></label>
                    <textarea asp-for="PageModel.Content" class="form-control" rows="15"></textarea>
                    <span asp-validation-for="PageModel.Content" class="text-danger"></span>
                </div>
                <div class="card mb-2">
                    <div class="card-header" id="heading">
                        <h5 class="mb-0">
                            <button type="button" class="btn w-100 text-left" data-toggle="collapse" data-target="#collapseOne">
                                Preview
                            </button>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse show">
                        <div class="card-body">
                            <div id="content-preview"></div>
                        </div>
                    </div>
                </div>

                <div class="form-check  mb-2 ml-1 ">
                    <input asp-for="PageModel.PublicAccess" type="checkbox" class="form-check-input" id="publicAccess">
                    <label asp-for="PageModel.PublicAccess" class="form-check-label" for="publicAccess">Public</label>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <button type="reset" class="btn btn-outline-primary" id="clearButton">Clear</button>
                </div>
            </form>
        </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        <script type="text/javascript">
            $(() => {
                $('#PageModel_Content').on('change keyup paste', () => {
                    var converter = new showdown.Converter,
                        text = $('#PageModel_Content').val(),
                        html = converter.makeHtml(text);
                    $('#content-preview').empty().append(html);
                });
                $('#clearButton').on('click', (e) => {
                    $('#content-preview').empty();
                });
            });
        </script>
    }
}