@page "{id:int}"
@model MyPages.Pages.Page.PageViewModel
@{
    ViewData["Title"] = "PageView";
}

<partial name="_Path" model="@Model.PageEntity" />
<hr />
<div id="content"></div>



@section Scripts {
<script type="text/javascript">
    $(() => {
        $('#content').append(mdToHtml('@Model.PageEntity.Content'));
    });
</script>
}
