@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a asp-page="/Account/Login">Log in</a> or <a asp-page="/Account/Register">create new account</a> to continue.</p>
</div>